@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron&display=swap');

body {
    background-color: burlywood;
}

.heading {
    text-align: center;
}


.playground-heading {
    color: darkcyan;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.footer {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
}

.main {
    border: 3px solid gray; 
    width: 75%; 
    margin: 0 auto;

}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

#red {
    border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}